<nav class="navbar" style="background-color: #e3f2fd;" data-bs-theme="light">
    <div class="container-fluid">
        <ul class="nav nav-underline me-5">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'ma:index' %}">Главная страница</a>
          </li>
        </ul>
        <div class="d-flex align-items-center gap-2">
            <span class="me-2">ФИО пользователя</span>
            <a href="{% url 'ua:login' %}" class="btn btn-outline-primary">Войти</a>
            <a href="{% url 'ua:register' %}" class="btn btn-outline-primary">Зарегистрироваться</a>
        </div>
    </div>
</nav>