{% extends 'core/base.html' %}

{% block title %} Регистрация нового пользователя {% endblock %}

{% block main %}
    <h1>Регистрация </h1>
    <form method="post" class="mt-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </form>
    <p class="mt-3">
        <a href="{% url 'ua:login' %}" class="btn btn-secondary mt-3">Войти</a>
        <a href="{% url 'ma:index' %}" class="btn btn-secondary mt-3">Главная страница</a>
    </p>
{% endblock main %}

