<nav class="navbar" style="background-color: #e3f2fd;" data-bs-theme="light">
    <div class="container-fluid">
        <ul class="nav nav-underline me-5">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'ma:index' %}">Главная страница</a>
          </li>
          <li class="nav-item">
            <a class="nav-link dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" href="#">Меню</a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="{% url 'ma:reg_object' %}">Список справочников</a></li>
                {% if is_arch %}
                <li><a class="dropdown-item" href="{% url 'ma:to_approve_object' %}">Список справочников к согласованию</a></li>
                {% endif %}
                {% if user.is_authenticated and user.is_superuser %}
                <li><a class="dropdown-item" href="{% url 'admin:index' %}">Административная панель</a></li>
                <li><a class="dropdown-item" href="{% url 'dta:list_tables' %}">Список динамических моделей</a></li>
                {% endif %}
            </ul>
          </li>
        </ul>
        <div class="d-flex align-items-center gap-2">
            {% if user.is_authenticated %}
                <a href="{% url 'ua:change' %}" class="me-2">{{ user.user_name }} ( ТН:{{ user.staff_code }} )</a>
                <form method="post" action="{% url 'ua:logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-secondary">Выйти</button>
                </form>
            {% else %}
                <a href="{% url 'ua:login' %}" class="btn btn-outline-primary">Войти</a>
                <a href="{% url 'ua:register' %}" class="btn btn-outline-primary">Зарегистрироваться</a>
            {% endif %}
        </div>
    </div>
</nav>