{% extends 'core/base.html' %}

{% block main %}
{% if user.is_authenticated %}
    <div class="container-fluid bg-body-tertiary py-1" data-bs-theme="light">
        <div class="row">
            <div class="container-fluid">
                <form method="get" class="d-flex flex-grow-1" role="search">
                    <input class="form-control me-2 flex-grow-1" type="search" placeholder="Введите название справочника" aria-label="Поиск" name="q" value="{{ search_query }}"/>
                    <button class="btn btn-outline-success" type="submit">Поиск</button>
                </form>
            </div>
        </div>
        <div class="row mt-1">
            <div class="list-group">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                {{ message }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <div class="row py-2">
            <div class="col">
                <table class="table">
                <thead>
                <tr>
                  <th scope="col" class="col-1">Действия</th>
                  <th scope="col" class="col-1">#</th>
                  <th scope="col">Наименование</th>
                  <th scope="col">Статус</th>
                </tr>
                </thead>
                <tbody>
                {% for dict in dict_list %}
                {% with registration=dict.registrations %}
                <tr>
                    <td>
                        <a href="{% url 'ma:object_edit' dict.id %}" class="btn btn-sm btn-warning" title="Описание" data-bs-toggle="tooltip"><i class="bi bi-pencil"></i></a>
                        <a href="{% url 'ma:object_column' dict.id %}" class="btn btn-sm btn-info" title="Столбцы" data-bs-toggle="tooltip"><i class="bi bi-columns"></i></a>
                        <a href="{% url 'ma:object_delete' dict.id %}" class="btn btn-sm btn-danger" title="Удалить" data-bs-toggle="tooltip"><i class="bi bi-trash"></i></a>
                    </td>
                    <th scope="row">{{ dict.dic_code }}</th>
                    {% if registration and registration.is_approve == True %}
                    <td><a href="{% url 'dta:get_table_data' table_name=dict.object_name %}">{{ dict.dic_code|truncatechars:5 }} - {{ dict.dic_name|truncatechars:30 }} ({{ dict.schema_name }}.{{ dict.object_name }})</a></td>
                    {% else %}
                    <td><p>{{ dict.dic_code|truncatechars:5 }} - {{ dict.dic_name|truncatechars:30 }} ({{ dict.schema_name }}.{{ dict.object_name }})</p></td>
                    {% endif %}
                    {% if registration %}
                    <td scope="row">
                        {% if registration.is_approve == True %}
                            <p style="color: green;">Зарегистрирован</p>
                        {% else %}
                            <p style="color: orange;">Ожидает согласования</p>
                        {% endif %}
                    </td>
                    {% else %}
                    <td scope="row"><p>Не зарегистрирован</p></td>
                    {% endif %}
                </tr>
                {% endwith %}
                {% empty %}
                    <p style="color: red;">Доступные справочники не обнаружены!</p>
                {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>
{% else %}
    <div class="alert alert-danger mt-3 " role="alert">
        Вы не авторизованы! Для продолжения работы необходимо войти в систему!
    </div>
{% endif %}
{% endblock main %}

{% block footer %}
{% endblock footer %}