{% extends 'core/base.html' %}

{% block main %}
{% if user.is_authenticated %}
    <div class="container-fluid bg-body-tertiary py-1" data-bs-theme="light">
        <div class="row">
            <div class="container-fluid">
                <form class="d-flex flex-grow-1" role="search">
                    <input class="form-control me-2 flex-grow-1" type="search" placeholder="Введите название справочника" aria-label="Поиск"/>
                    <button class="btn btn-outline-success" type="submit">Поиск</button>
                </form>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-11">
                <table class="table">
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Наименование</th>
                  <th scope="col">Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for dict in dict_list %}
                <tr>
                    <th scope="row">{{ dict.dic_code }}</th>
                    <td><a href="#">{{ dict.dic_code|truncatechars:5 }} - {{ dict.dic_name|truncatechars:30 }} ({{ dict.schema_name }}.{{ dict.object_name }})</td>
                    <td>
                        <a href="{% url 'ma:object_edit' dict.id %}" class="btn btn-sm btn-warning" role="button"><i class="bi bi-pencil"></i> Описание</a>
                        <a href="{% url 'ma:object_column' dict.id %}" class="btn btn-sm btn-info"><i class="bi bi-columns"></i> Столбцы</a>
                        <a href="{% url 'ma:object_delete' dict.id %}" class="btn btn-sm btn-danger" role="button"><i class="bi bi-trash"></i> Удалить</a>
                    </td>
                </tr>
                {% empty %}
                    <p style="color: red;">Доступные справочники не обнаружены!</p>
                {% endfor %}
                </tbody>
                </table>
            </div>
            <div class="col-1">
                <div class="list-group">
                    <a href="{% url 'ma:object_add' %}" class="list-group-item list-group-item-action list-group-item-success"><i class="bi bi-plus"></i> Добавить</a>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="alert alert-danger mt-3 " role="alert">
        Вы не авторизованы! Для продолжения работы необходимо войти в систему!
    </div>
{% endif %}
{% endblock main %}

{% block footer %}
{% endblock footer %}