{% extends 'core/base.html' %}

{% block main %}
{% if user.is_authenticated %}
<div class="container py-1">
    <div class="container-fluid bg-body-tertiary py-2" data-bs-theme="light">
        <h5>Добавление колонки</h5>
        <form method="post" class="mt-4">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Создать</button>
                <a href="{{ request.META.HTTP_REFERER|default:'/' }}" class="btn btn-secondary">Назад</a>
            </div>
        </form>
    </div>
</div>
{% else %}
    <div class="alert alert-danger mt-3 " role="alert">
        Вы не авторизованы! Для продолжения работы необходимо войти в систему!
    </div>
{% endif %}
{% endblock main %}

{% block footer %}
{% endblock footer %}