{% extends 'core/base.html' %}

{% block main %}
{% if user.is_authenticated %}
    <div class="container-fluid bg-body-tertiary py-1" data-bs-theme="light">
        <div class="row text-center">
            <h4><a href="{% url 'ma:index' %}">{{ object_name }}</a></h4>
        </div>
        <div class="row mt-1">
            <div class="list-group">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                {{ message }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        {% if not is_approve %}
        <div class="row">
            <div class="col-1">
                <div class="list-group">
                    <a href="{% url 'ma:object_column_add' dictionary_id=dictionary_id %}" class="list-group-item list-group-item-action list-group-item-success"><i class="bi bi-plus"></i> Добавить</a>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row py-2">
            <div class="col">
                    <table class="table">
                    <thead>
                    <tr>
                      <th scope="col" class="col-1">Действия</th>
                      <th scope="col" class="col-1">#</th>
                      <th scope="col">Наименование</th>
                      <th scope="col">Описание</th>
                      <th scope="col">Тип</th>
                      <th scope="col">Обязательность</th>
                      <th scope="col">Уникальность</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for col in col_list %}
                    <tr>
                      <td>
                          {% if not is_approve %}
                          <a href="{% url 'ma:object_column_edit' dictionary_id=dictionary_id pk=col.id %}" class="btn btn-sm btn-warning" title="Описание" data-bs-toggle="tooltip"><i class="bi bi-pencil"></i></a>
                          <a href="{% url 'ma:object_column_delete' dictionary_id=dictionary_id pk=col.id %}" class="btn btn-sm btn-danger" title="Удалить" data-bs-toggle="tooltip"><i class="bi bi-trash"></i></a>
                          {% endif %}
                      </td>
                      <th scope="row"><a href="{% url 'ma:object_column_edit' dictionary_id=dictionary_id pk=col.id %}">{{ col.ordinal_position|floatformat:"0" }}</a></th>
                      <td>{{ col.column_name }}</td>
                      <td>{{ col.column_description }}</td>
                      <td>{{ col.column_type }}</td>
                      <td>{% if col.is_null %}Да{% endif %}</td>
                      <td>{% if col.is_pk %}<i class="bi bi-circle-fill text-success"></i>{% endif %}</td>
                    </tr>
                    {% empty %}
                        <p style="color: red;">Колонки привязанные к справочнику не обнаружены!</p>
                    {% endfor %}
                    </tbody>
                    </table>
            </div>
        </div>
    </div>
{% else %}
    <div class="alert alert-danger mt-3 " role="alert">
        Вы не авторизованы! Для продолжения работы необходимо войти в систему!
    </div>
{% endif %}
{% endblock main %}

{% block footer %}
{% endblock footer %}